/* ヘッダー */
header {
    height: 40px;
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left img {
    width: 100%;
    height: 40px;
}


.pf{
    width: 500px;
    margin-top: 80px;
    margin-left: 550px;
    margin-right: 0;
    text-align: start;
    font-size: 33px;
    color: rgb(163, 161, 161);
}

.pf img{
    width: 200px;
    margin-top: 40px;
    margin-left: 70px;
    margin-bottom: 20px;
}

ul{
list-style: none;
}


.container-wrap {
    max-width: 1200px;
    margin: 50px auto 0;
    padding: 30px;
}

.text_anime {
    animation: text_anime 1s infinite;
    font-size: 120px;
    margin-bottom: 350px;
    
    color: rgba(255, 255, 255, 0.406)
}


@keyframes text_anime {

    0% {
        transform: scale(1.0, 1.0) translate3d(1, 1, 1, );
    }

    30% {
        transform: scale(1.0, 1.05) translate3d(-1%, -1%, 0) skew(1deg, 0deg);
    }

    45% {
        transform: scale(1.0, 1.0) translate3d(1%, 1%, 0) skew(1deg, 0deg);
    }

    75% {
        transform: scale(1.0, 1.05) translate3d(-1%, -1%, 0) skew(-1deg, 0deg);
    }

    90% {
        transform: scale(1.0, 1.05) translate3d(1%, 1%, 0) skew(-1deg, 0deg);
    }

    100% {
        transform: scale(1.0, 1.0) translate3d(1%, 1%, 1);
    }

}

/* メインとなる画像 */
.kv {
    background-image: url('./imag/kv.jpeg');
    background-size: cover;
    height: 100vh;
}


.title-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.subtitle{
    color: rgba(106, 104, 104, 0.66);
    font-size: 60px;
    font-weight: 180px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 50px;
}


.card{
    margin-top: 30px;
    padding-left: 80px;
    padding-right: 50px;
    width: 600px;
    height: 100%;
    /* 画像横並び */
    display: inline-block;
  }


   /* 写真A~F */
#A{
    width: 100%;
    height: auto;
    padding-top: 56.25%;
    background: url(./imag/umikazi.jpeg) no-repeat center;
    background-size: cover;
    box-sizing: border-box;
  }

#B{
    width: 100%;
    height: auto;
    padding-top: 56.25%;
    background: url(./imag/fukugi.jpeg) no-repeat center;
    background-size: cover;
    box-sizing: border-box;
  }

#C{
    width: 100%;
    height: auto;
    padding-top: 56.25%;
    background: url(./imag/minna.jpeg) no-repeat center;
    background-size: cover;
    box-sizing: border-box;
  }

#D{
    width: 100%;
    height: auto;
    padding-top: 56.25%;
    background: url(./imag/forest.jpeg) no-repeat center;
    background-size: cover;
    box-sizing: border-box;
  }

#E{
    width: 100%;
    height: auto;
    padding-top: 56.25%;
    background: url(./imag/izumi.jpeg) no-repeat center;
    background-size: cover;
    box-sizing: border-box;
  }

.card__textbox{
    width: 100%;
    height: auto;
    padding: 18px 18px;
    background: #ffffff;
    box-sizing: border-box;
  }

.card__textbox > * + *{
    margin-top: 10px;
  }

.card__titletext{
    font-size: 25px;
    font-weight: bold;
    line-height: 125%;
    margin-top: 8px;
    color: rgba(19, 19, 19, 0.837);
  }

h3:first-letter {
    font-size: 2em;
    color: #f30202;
}

.card__overviewtext{
    font-size: 16px;
    line-height: 150%;
    font-weight: lighter;
    color: rgb(72, 72, 72);
    }

  /* 写真の影 */
.card-skin .card__imgframe{
    position: relative;
    box-shadow: 0px 20px 25px rgba(0,0,0,.4);
    }

footer {
    background-color: rgba(181, 176, 176, 0.355);
    padding: 10px 20px;
    text-align: center;
    margin-top: 100px;
    font-size: x-large;
    color: rgba(86, 85, 85, 0.672);
}
  
  footer span {
    font-weight: bold;
  }
  



/* レスポンシブ対応 */
@media screen and (max-width: 780px) {

    .header-left img {
        width: 100% auto;
        height: 28px;
        
    }

    .container-wrap {
        width: 100% auto;
        margin: 50px;
        padding: 30px;
    }

    .subtitle{
        text-align: center;
        font-size: 26px;
        margin-right: 0 auto;
        margin-top: -50px;
        margin-bottom: 12px;
    }
    

    }
    .pf{
        width: 100% auto;
        font-size: 19px;
        padding:70px;
        margin: 10px;
    }

    .pf img{
        width: 100% auto;
        height: auto;
        padding: 10px;
        margin-left: 30px;
        
        
    }

    .kv {
        margin: 0;
        background-position: center;
        background-size: cover;
        width: 100% auto;
        height: 60vh;
    }

    .card-skin{
        width: 100%;
        margin: 0;
        padding: 0;

    }

   
    .title-wrap {
        text-align: center;
    }

    .text_anime {
        font-size: 75px;
        animation: text_anime 4s infinite;
        margin-bottom: 500px;
        font-weight: bold;
    }
    
    .card__overviewtext {
        margin-left: auto;
        margin-bottom: 12px;
        margin-top: 8px;
        font-size: 12px;
    }
    
    h3:first-letter {
        font-size: 30px;
        color: #f30202;
    }

    .card__titletext{
        font-size: 16px;
        font-weight: bold;
        line-height: 125%;
        margin-top: 8px;
      }
    
    


    /* ハンバーガーメニュー*/
    .bun {
        width: 30px;
        height: 28px;
        display: block;
        cursor: pointer;
        background-color: rgb(249, 253, 253);
        margin-right: 5px;
    }

    .bun .pate,
    .bun .pate::before,
    .bun .pate::after {
        width: 100%;
        height: 5px;
        display: block;
        background-color: rgb(82, 81, 81);
        border-radius: 2px;
        transition: all 1s ease;
    }

    .bun .pate {
        position: relative;
        top: calc(50% - 2px);


    }

    .bun .pate::before,
    .bun .pate::after {
        position: absolute;
        content: '';

    }

    .bun .pate::before {
        top: -9px;
        transition: all 1s ease;
    }

    .bun .pate::after {
        top: 9px;
    }

    #hamburger:checked+.bun .pate {
        background-color: transparent;
    }

    #hamburger:checked+.bun .pate::before {
        transform: rotate(45deg) translate(5px, 5px);

    }

    #hamburger:checked+.bun .pate::after {
        transform: rotate(-45deg) translate(7px, -8px);

    }
    

    footer {
        padding: 5px 10px;
        text-align: center;
        margin-top: 35px;
        font-size: 15px;
        color: rgba(86, 85, 85, 0.672);
    }
      
    footer span {
        font-weight: bold;
    }
      

    


}